<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script> 
</head>
<body>
	<main id="app">	
		<section class="wrapper">
			<!-- wrapper -->
			<div class="logo">Logo here</div>
			
			<section class="messages">
					<ul id="messages" v-for="message in messages">
						<!-- render the message component here -->
						<newmessage :msg="message"></newmessage>				
					</ul>
				</section>

			<section class="form-container">
					<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="name">
					
					<form id="msg-container">
						<textarea v-model="message" class="message" type="text" autocomplete="off" id="message" placeholder="Message the chat"></textarea>
						<input type="submit" @click.prevent="dispatchMessage">
					</form>

					
				</section>
				
		

		</section>	
		
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>
</html>